H6 {
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}
#grid1 {
  margin-left: auto;
  margin-right: auto;
}

#grid1 TR TD{
  border:1px solid white;
  background: #999999;
  width: 16px;
  height: 16px;
  text-align: center;
}

#grid1 TR TD.clicked {
    background: #333333;
}

#grid1 TR TD.mine {
    background: #FF0000;
}

BUTTON {
  margin: 5px; auto;
  display:block;
}
